#home_sec1{
    > h1{
        font-family: 'Seravek Medium Italic';
        font-weight: 500;
        font-size: 56px;
        line-height: 69px;;
        color: #0d395a;
        text-align: center;   
        margin-bottom: 20px;;       
    }

    > h4{
        font-size:18px;
        line-height: 22px;
        text-align: center;;
        color:#454545;
        letter-spacing: 1.35px;;
        font-weight: 400;;
        margin:30px 0 40px;
    }

    > .inner_bk{
        width: 1440px;
        height: 680px;
        background-image: url(../img/kv-bg.svg);
        background-size: cover;
        background-position: center bottom;
        margin: auto;
    }
}