#service_feature_center{
    padding:50px 15px 20px;
    
    > h3{
        font-size:32px;
        font-family: 'Seravek Medium Italic';
        font-weight: normal;
        letter-spacing: 1.6px;
        color: #0d395a;
        line-height: 40px;;   
        text-align: center;
        margin-bottom: 100px;;
    }
    .inner{
       max-width: 1330px;
       margin:auto;
       display: flex;
       flex-wrap: wrap;

       .sf_item{
            width:33.33%;
            padding:0 15px;
            box-sizing: border-box;
            .pic{                
                margin: auto auto 37px;
                img{
                    width:auto;
                    display: block;
                    margin:auto;
                    height:185px;
                }
            }
            .inner{
                max-width: 300px;
                margin:auto;
                text-align: center;
                .title{
                    width:100%;
                    h3{
                        font-family: 'Seravek Medium';
                        color:#195d8f;
                        font-weight:500;
                        text-align: center;
                        display: block;
                        margin:0 0 15px;
                    }
                }
            }
       }
    }
}