@media (max-width: 920px){
#main_menuv2 .top_inner{   
    #site-navigation{
        transition: 0.3s;
        position: fixed;        
        height: 100%;
        right:-100%;;
        top:0;
        

        .global_menu{
            background-color: #d8f3f7;
            width: 300px;
            height: 100vh;
            padding-top: 0px;
            box-shadow: 0 0px 5px #9c9c9c;
            
            .menu-menu-1-container{
                padding:20px;

                ul{
                    li{
                        a{
                            color:#fff;
                            opacity: 0.6;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

#main_menuv2 .top_inner #site-navigation.open{
        right:0;
    }
}
