#full_img_top{
    background-position: center -200px ! important;
    background-size: 2600px ! important;
}

@media (max-width: 2000px){
    #full_img_top{
        background-size: 2200px ! important;
    }
}


@media (max-width: 1800px){
    #full_img_top{
        background-size: 2000px ! important;
    }
}